<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlockWatch</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="../main.css">
</head>
<body>
  <header class="header">
    <section class="flex">
      <a href="#home" class="logo"><i class="fas fa-money-bill-trend-up"></i>BlockWatch</a>
      <a href="#download" class="btn">dw app</a>
    </section>
  </header>
</body>
</html>
