<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="buttons.css">
  <link rel="stylesheet" href="../main.css">
</head>
<body>
  <div>
    <a href="#download" class="btn">dw app</a>
    <a href="#download" class="btn">download app</a>
    <a href="#download" class="btn-secondary">dw app</a>
    <a href="#download" class="btn-secondary">download app</a>
  </div>
  <div class="form-group">
    <input type="checkbox" id="remember_me" class="checkBox" name="remember" value="1"> 
    <label for="remember_me">Remember me</label>  
  </div>
  
  <div class="form-group">
    <input type="checkbox" id="terms_and_conditions" class="checkBox" name="terms_and_conditions" value="1"> 
    <label for="terms_and_conditions"></label>  
  </div>
  
</body>
</html>