@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root{
  --white: #fff;
  --black: #171717;
  --bg-color: #1c1c1e;
  --light-white: #999;
  --box-shadow: 0 .5rem 1rem #000;
  --border: .5rem solid rgba(255, 255, 255, .1);
  --gradient: linear-gradient(65deg, deeppink, coral);
  --secondary-gradient: linear-gradient(65deg, #891652, #ff6b6b);
}

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0; padding: 0;
  text-decoration: none;
  /* text-transform: capitalize; */
  outline: none; border: none;
}

    .main-width{
        width: auto !important;
    }

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
}

body{
  background: var(--black);
  /* padding-bottom: 8rem; */
}
body main{
  background: var(--black);
  /* padding-bottom: 8rem; */
}

section{
  /* padding: 3rem 2rem; */
  /* min-width: 1200px; */
  margin: 0 auto;
}

.btn-custom{
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: var(--gradient);
  color: var(--white);
  border-radius: 5rem;
  transition: .3s linear;
}

.btn-custom:hover{
  background: var(--white);
  color: var(--black);
}

*::selection{
  background: var(--white);
  color: var(--black);
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-thumb{
  background: var(--white);
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

.header-custom{
  position: sticky;
  top: 0; left: 0; right: 0;
  background-color: var(--bg-color);
  border-bottom: var(--border);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header-custom .flex-custom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header-custom .flex-custom .logo{
  font-size: 2rem;
  color: var(--white);
}

.header-custom .flex-custom .logo i{
  margin-right: .5rem;
  color: coral;
}

.header-custom .flex-custom .btn-custom{
  margin-top: 0;
}


/* --- navbar --- */

.navbar-custom{
  position: fixed;
  bottom: 2rem; left: 0; right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar-custom .nav-custom{
  padding: 1rem;
  background-color: var(--bg-color);
  border: var(--border);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1rem;
  border-radius: .5rem;
}

.navbar-custom .nav-custom a{
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  transition: .2s linear;
  color: var(--white);
}

.navbar-custom .nav-custom a:hover{
  background: var(--gradient);
}
/* 
.navbar .nav a:hover span{
  color: var(--white);
} */

.navbar-custom .nav-custom a i {
  display: none;
}


/* home section */

.home .flex-custom{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.home .flex-custom .image{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
}

.home .flex-custom .image::before{
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 30rem;
  width: 5rem;
  background: var(--gradient);
  animation: animate1 4s cubic-bezier(0.29, 1, 0.26, 1.12) infinite;
}

.home .flex-custom .image::after{
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  height: 30rem;
  width: 5rem;
  background: var(--gradient);
  animation: animate2 4s cubic-bezier(0.29, 1, 0.26, 1.12) infinite;
}

.home .flex-custom .image img{
  width: 100%;
  height: 50rem;
  object-fit: contain;
}
.home .flex-custom .content{
  flex: 1 1 50rem;
}

.home .flex-custom .content h3{
  font-size: 3rem;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.home .flex-custom .content p{
  line-height: 1.8;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--light-white);
}

@keyframes animate1{
  0%, 100%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(100%);
  }
}

@keyframes animate2{
  0%, 100%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-100%);
  }
}


/* services section */

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.services .box-container .box{
  text-align: center;
  padding: 2.5rem 2rem;
  background-color: var(--bg-color);
}

.services .box-container .box i{
  font-size: 3.5rem;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.services .box-container .box h3{
  font-size: 2rem;
  margin: .5rem 0;
  color: var(--white);
}

.services .box-container .box p{
  line-height: 1.4;
  font-size: 1.6rem;
  color: var(--light-white);
  padding: .5rem 0;
}


/* about section */

.about{
  background: var(--bg-color);
}

.about .flex-custom{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* margin: 0 30rem; */
}

.about .flex-custom .content{
  flex: 1 1 40rem;
}

.about .flex-custom .image{
  flex: 1 1 40rem;
}

.about .flex-custom .image img{
  width: 100%;
  height: 50rem;
  object-fit: contain;
}

.about .flex-custom .content h3{
  font-size: 3rem;
  color: var(--white);
  margin-bottom: .5rem;
}

.about .flex-custom .content p{
  font-size: 1.6rem;
  color: var(--light-white);
  padding: 1rem 0;
  line-height: 1.8;
}

/* reviews section */

.reviews .flex-custom{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.reviews .flex-custom .content{
  flex: 1 1 40rem;
}

.reviews .flex-custom .content h3{
  font-size: 3rem;
  color: var(--white);
  margin-bottom: .5rem;
}

.reviews .flex-custom .content p{
  line-height: 1.8;
  font-size: 1.6rem;
  color: var(--light-white);
  padding: 1rem 0;
}

.reviews .flex-custom .content .controls{
  margin-top: .5rem;
  display: flex;
  gap: 1rem;
}

.reviews .flex-custom .content .controls div{
  width: 5rem;
  height: 5rem;
  line-height: 4.9rem;
  font-size: 2.5rem;
  color: var(--white);
  background: var(--bg-color);
  text-align: center;
  cursor: pointer;
}

.reviews .flex-custom .content .controls div:hover{
  background: var(--gradient);
}

.reviews .flex-custom .slides-container{
  flex: 1 1 40rem;
}

.reviews .flex-custom .slides-container .slide{
  background: var(--bg-color);
  padding: 2.5rem;
  display: none;
}

.reviews .flex-custom .slides-container .slide.active{
  display: block;
}

.reviews .flex-custom .slides-container .slide .text{
  font-size: 1.6rem;
  color: var(--light-white);
  line-height: 1.8;
}

.reviews .flex-custom .slides-container .slide .user{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: var(--border)
}

.reviews .flex-custom .slides-container .slide .user img{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .flex-custom .slides-container .slide .user h3{
  font-size: 2rem;
  color: var(--white);
}

.reviews .flex-custom .slides-container .slide .user .stars{
  margin-top: .5rem;
}

.reviews .flex-custom .slides-container .slide .user .stars i{
  font-size: 1.5rem;
  color: coral;
}

.reviews .flex-custom .slides-container .slide .user .fa-quote-right{
  font-size: 5rem;
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  margin-left: auto;
}

/* footer section */

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem);
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.footer .box-container .box h3{
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.footer .box-container .box a{
  font-size: 1.6rem;
  color: var(--light-white);
  display: block;
  padding: 1rem 0;
}

.footer .box-container .box a i{
  color: coral;
  margin-right: .5rem;
}

.footer .box-container .box a:hover{
  color: var(--white);
}

.footer .credit{
  padding: 3rem 2rem;
  border-top: var(--border);
  text-align: center;
  font-size: 2rem;
  color: var(--light-white);
}

.footer .credit span{
  color: transparent;
  background: var(--gradient);
  background-clip: text;
}



/* form login reg */
.form-section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.form-section .container-form {
  width: 35rem;
  height: 50rem;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the grid layout containing forms */
.form-section .container-form .signin-signup {
  display: grid;
  grid-template-columns: 1fr;
}
/* Style the forms and hide the sign-up form initially */
.signin-signup form {
  grid-column: 1 / 2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form.sign-up-form {
  /* visibility: hidden; */
}
/* Style form titles, input fields, icons, and buttons */
.title {
  font-size: 3.5rem;
  color: var(--white);
  margin-bottom: 10px;
}
.input-field {
  width: 28rem;
  height: 5rem;
  border-bottom: .1rem solid var(--light-white);
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.input-field i {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  color: var(--light-white);
}
.input-field input {
  flex: 5;
  border: none;
  outline: none;
  background: none;
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 600;
}
/* Style paragraphs and links */
form p,
a {
  font-size: 1.4rem;
  color: var(--white);
}
.forgot-password {
  align-self: flex-end;
}
.btn-form {
  margin: 2rem
}

.account-text {
  color: var(--white);
}
/* Make the sign-up form visible when in sign-up mode */
.container.sign-up-mode form.sign-up-form {
  visibility: visible;
}
/* Hide the sign-in form when in sign-up mode */
.container.sign-up-mode form.sign-in-form {
  visibility: hidden;
}



/* --- media queries --- */


/* --- header and html --- */

@media (max-width: 991px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 768px){
  body{
    /* padding-bottom: 7rem; */
  }

  .navbar-custom{
    bottom: .1rem;
  }

  .navbar-custom .nav-custom{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    box-shadow:none;
    border-radius: 0;
    padding: .5rem 1rem;
    width: 100%;
  }

  .navbar-custom .nav-custom a{ 
    padding: .5rem;
  }

  .navbar-custom .nav-custom a span{
    font-size: 1.5rem;
  }

  .navbar-custom .nav-custom a i{
    display: block;
    font-size: 3rem;
    margin-bottom: .5rem;
  }
  
  .navbar-custom .nav-custom a:hover{
    background: none;
  }

  .navbar-custom .nav-custom a:hover span{
    color: coral;
  }
  .home .flex-custom .content h3{
    font-size: 2.5rem;
  }
}


@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .container-form {
    width: 100vw;
    height: 100vh;
}
}