<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="../main.css">
</head>
<body>
  <footer class="footer">
    <section class="box-container">
      <div class="box">
        <h3>quick search</h3>
        <a href="#home"><i class="fas fa-angle-right"></i>home</a>
        <a href="#about"><i class="fas fa-angle-right"></i>about</a>
        <a href="#dowload"><i class="fas fa-angle-right"></i>dowload</a>
        <a href="#pricing"><i class="fas fa-angle-right"></i>pricing</a>
      </div>

      <div class="box">
        <h3>quick search</h3>
        <a href="#home"><i class="fas fa-angle-right"></i>home</a>
        <a href="#about"><i class="fas fa-angle-right"></i>about</a>
        <a href="#dowload"><i class="fas fa-angle-right"></i>dowload</a>
        <a href="#pricing"><i class="fas fa-angle-right"></i>pricing</a>
      </div>
      <div class="box">
        <h3>quick search</h3>
        <a href="tel:1234567890"><i class="fas fa-phone"></i>+1234567890</a>
        <a href="mailto:example@mail.com"><i class="fas fa-envelope"></i>example@mail.com</a>
      </div>
    </section>
  </footer>
</body>
</html>