
/* --- navbar --- */

.navbar{
  position: fixed;
  bottom: 2rem; left: 0; right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar .nav{
  padding: 1rem;
  background-color: var(--bg-color);
  border: var(--border);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1rem;
  border-radius: .5rem;
}

.navbar .nav a{
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  transition: .2s linear;
  color: var(--white);
}

.navbar .nav a:hover{
  background: var(--gradient);
}
/* 
.navbar .nav a:hover span{
  color: var(--white);
} */

.navbar .nav a i {
  display: none;
}